@import "tailwindcss";

@theme {
  --color-brand-red: #e63946;
  --color-brand-dark: #1d3557;
  --color-brand-light: #f1faee;
  --color-brand-gray: #f3f4f6;
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  body {
    @apply bg-brand-light text-brand-dark font-sans;
  }
}

@utility animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}